$primary: #cc3333;
$secondary: #cc9933;

@font-face {

    font-family: 'cinzel_decorativeblack';
    src: url('../fonts/cinzel/cinzeldecorative_black_macroman/CinzelDecorative-Black-webfont.eot');
    src: url('../fonts/cinzel/cinzeldecorative_black_macroman/CinzelDecorative-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cinzel/cinzeldecorative_black_macroman/CinzelDecorative-Black-webfont.woff') format('woff'),
         url('../fonts/cinzel/cinzeldecorative_black_macroman/CinzelDecorative-Black-webfont.ttf') format('truetype'),
         url('../fonts/cinzel/cinzeldecorative_black_macroman/CinzelDecorative-Black-webfont.svg#cinzel_decorativeblack') format('svg');
    font-weight: normal;
    font-style: normal;

}


body {
	
}

a {
	color: $primary;

	&:hover {
		color: darken( $primary, 10% );
	}
}

h1,
h2,
h3 {
	font-family: 'cinzel_decorativeblack';
}

h2 {
	font-weight: 200;
}

.filter {
	background-color: #cc3;
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: .1;
}

.home header {
	background-color: transparent;
}

#mobile-menu {

}

#header {

	height: 100%;
	background-color: #333;
	background-image: url(../img/newjc-1822-crowd-shot.jpg);
	color: #ddd; 
	padding: 0;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position-x: center;
	background-position-y: 0;

	> .filter {
		
		background: #000;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		display: block;
		opacity: 0.8;
		
	}
}

header.contact {

	.filter {
		background-color: #333;
		opacity: .9;
		display: none;
	}

}

#navbar {
	background-color: transparent;
	
	.filter {
		background-color: #fff;
	}

}

#billboard {
	
	padding: 0 15px;

	.row {
		.col-md-12 {
			padding: 6% 0;
			z-index: 1;
			color: #fff;
			h1 {
				text-shadow: 1px 1px 1px #000;
			}
		}
	}

}

.nav {
	
	a {
		color: $secondary;
		text-shadow: 1px 1px 1px #fff;

		&:hover { 
			background-color: #fff;
		}

	}

	.current_page_item > a {
		background-color: $secondary;
		color: #fff;
		text-shadow: none;

		&:hover {
			background-color: darken( $secondary, 3% );
			color: #fff;
		}
	}

}

#main {
	background-image: url(../img/cream_dust.png);
}

.btn-primary,
.btn-group.open .dropdown-toggle {
	background-color: $primary;
	border-color: $primary;

	&:hover {
		background-color: darken( $primary, 3% );
		border-color: darken( $primary, 3% );
	}
}

.label-primary {
	background-color: $secondary;
}

#upcoming-event {
	background-image: url(../img/light_grey.png);
	/*border-bottom: 1px solid #ddd;

	.btn-primary {
		background-color: $secondary;
		border-color: $secondary;
	}*/
}

footer { 
	background-image: url(../img/congruent_outline.png);
	color: #ddd;

	h4 {
		color: $secondary;
	}
	
	ul {
		padding-left: 0;
		list-style: none;

		li {
			border-bottom: 1px solid #555;
			padding: 10px 0;
		}
	}

}