$primary: #cc3333;
$secondary: #cc9933;

a {
	color: $primary;

	&:hover {
		color: darken( $primary, 10% );
	}
}

h2 {
	font-weight: 200;
}

.filter {
	background-color: #cc3;
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: .1;
}

.home header {
	background-color: transparent;
}

#mobile-menu {
	.navbar-brand {
		padding: 3px 10px;

		img {
			max-height: 42px;
		}

	}
}

#masthead {

	background: #333; 
	background-image: url(../img/newjc-1822-side.jpg);
	background-size: cover;
	background-position-x: center;
	background-position-y: 30%;
	color: #ddd; 
	padding: 0;
	position: relative;

}

header.contact {
	/*background-color: transparent;
	color: #ddd;*/

	.filter {
		background-color: #333;
		opacity: .9;
		display: none;
	}

}

#navbar {
	background-color: transparent;
	padding: 10px 0;

	.filter {
		background-color: #fff;
	}

}

#billboard {
	
	padding: 0 15px;

	.row {
		.col-md-12 {
			padding: 6% 0;
			z-index: 1;
			color: #fff;
		}
	}

}

.nav {
	
	a {
		color: $secondary;
		text-shadow: 1px 1px 1px #fff;

		&:hover { 
			background-color: #fff;
		}

	}

	.current_page_item > a {
		background-color: $secondary;
		color: #fff;
		text-shadow: none;

		&:hover {
			background-color: darken( $secondary, 3% );
			color: #fff;
		}
	}

}

#page-title {
	padding: 50px 0;
}

.btn-primary,
.btn-group.open .dropdown-toggle {
	background-color: $primary;
	border-color: $primary;

	&:hover {
		background-color: darken( $primary, 3% );
		border-color: darken( $primary, 3% );
	}
}

.label-primary {
	background-color: $secondary;
}

#upcoming-event {
	background-image: url(../img/light_grey.png);
	/*border-bottom: 1px solid #ddd;

	.btn-primary {
		background-color: $secondary;
		border-color: $secondary;
	}*/
}

footer { 
	background-color: #333;
	background-image: url(../img/congruent_outline.png);
	padding: 30px 0;
	color: #ddd;
}