$primary: #cc3333;
$secondary: #ed9c28;

body {
	
}

a {
	color: $primary;

	&:hover {
		color: darken( $primary, 10% );
	}
}

h1 {
	font-size: 48px;
	margin-bottom: 20px;

	&.highlight {
		background-color: $primary;
		padding: 10px;
	}
}

.fantasy {

}

h1,
h2,
h3 {

}

h2 {
	font-weight: 200;
}

.filter {
	background-color: #333;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: .8;
}

.home header {
	background-color: transparent;
}

#mobile-menu {

}

body {

	> .background {
		background-repeat: no-repeat;
		/* background-attachment: fixed; */
		background-size: cover;
		background-position-x: center;
		background-position-y: 0;
		position: fixed;
		display: block; 
		width: 100%;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: -1;

	}

	> .background {
		background-image: url(../img/fireworks.jpg);
	}
}
#header {

	height: 100%;
	background-color: transparent;
	color: #ddd; 
	padding: 0;
	position: relative;
	overflow: hidden;

	> .filter {
		
		background: #000;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		display: block;
		opacity: 0.5;
		
	}
}

header.contact {

	.filter {
		background-color: #333;
		opacity: .9;
		display: none;
	}

}

#navbar {
	
	.filter {
		background-color: #fff;
	}


	.open .dropdown-toggle {
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}

	.dropdown-menu {
		border-radius: 2px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;

		background-color: $secondary;
		margin-top: 0;
		border-top-left-radius: 0px;
		border: 0;
	}
}

.home #navbar {
	background-color: transparent;
}

#billboard {
	
	padding: 0 15px;

	.row {
		.col-md-12 {
			padding: 6% 0;
			z-index: 1;
			color: #fff;
			margin-top: 6%;

			h1 {
				text-shadow: 1px 1px 1px #000;
			}
		}
	}

}


.page #main .thumbnail.tall {
	margin-left: -80px;
}

.home .nav-pills > li {

	> a {
		border-radius: 2px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;

		&:hover {
			background-color: transparent;
			color: #fff;
		}
	}

}

.nav {
	
	.open {
		
		a:focus {
			background-color: $secondary;
			color: #fff;
		}

	}

	a {
		color: $secondary;

		&:hover { 
			background-color: #fff;
		}

	}

	.current_page_item > a {
		background-color: $secondary;
		color: #fff;
		text-shadow: none;

		&:hover {
			background-color: darken( $secondary, 3% );
			color: #fff;
		}
	}

}

#main {
	background-image: url(../img/cream_dust.png);
}


.btn {
	min-width: 175px;
}

.btn-primary,
.btn-group.open .dropdown-toggle {
	background-color: $primary;
	border-color: $primary;
	text-transform: uppercase;

	&:hover {
		background-color: darken( $primary, 3% );
		border-color: darken( $primary, 3% );
	}

}



#upcoming-event {
	background-color: $primary;
	color: #fff;
	padding: 80px 0;

	h2 {

		a { 
			font-size: 42px;
		}

		small {
			background-color: #fff;
			padding: 8px 13px;
		}
	}

	h4 {
		color: darken( $primary, 30% );
	}

	a {
		color: #fff;
	}

	.btn-primary {
		background-color: darken( $primary, 30% );
		color: #fff;
		padding: 12px 18px;
		letter-spacing: .4px;
		font-weight: bold;
		font-size: 14px;
	}

	.timer-col {

		.label {
			background-color: #222;
		}

		.label-primary {
			background-color: transparent;
			border: 2px solid #fff;
		}
	}
}

.stencil-widget {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			
		}
	}

	.current_page_item > a {
		background-color: transparent;
		color: #222;
	}
}

.home #quick-links {
	padding: 80px 0;
	color: #fff;
	position: relative;

	.container {
		padding: 30px; 
	}

}

#main .stencil-widget,
#quick-links .stencil-widget {
	padding: 10px 20px;
	background-color: #fff;
	border-radius: 3px;
	color: #777;
	margin-bottom: 20px;

	li {	
		border-bottom: 1px solid #eee;
		padding: 10px 0;

		a {
			display: block;
		}
	}
}

.home #main {
	padding: 40px 0;
	min-height: inherit;
}

footer { 
	background-image: url(../img/congruent_outline.png);
	color: #ddd;

	h4 {
		text-transform: uppercase;
		font-size: 15px;
	}
	
	ul {
		padding-left: 0;
		list-style: none;

		li {
			border-bottom: 1px solid #555;
			padding: 10px 0;
		}
	}

}

@media (max-width: 768px) {

	#upcoming-event {
		text-align: center;
	}

	#quick-links {

		.col-md-7 {
			margin-bottom: 50px;
		}

	}
}
