a {
  color: #cc3333; }
  a:hover {
    color: #a32929; }

h2 {
  font-weight: 200; }

.filter {
  background-color: #cc3;
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: .1; }

.home header {
  background-color: transparent; }

#masthead {
  background-color: #333;
  background-image: url(../img/newjc-1822-side.jpg);
  color: #ddd;
  padding: 0;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position-x: center;
  background-position-y: 0; }
  #masthead > .underlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0; }

header.contact .filter {
  background-color: #333;
  opacity: .9;
  display: none; }

#navbar {
  background-color: transparent; }
  #navbar .filter {
    background-color: #fff; }

#billboard {
  padding: 0 15px; }
  #billboard .row .col-md-12 {
    padding: 6% 0;
    z-index: 1;
    color: #fff; }
    #billboard .row .col-md-12 h1 {
      text-shadow: 1px 1px 1px #000; }

.nav a {
  color: #cc9933;
  text-shadow: 1px 1px 1px #fff; }
  .nav a:hover {
    background-color: #fff; }
.nav .current_page_item > a {
  background-color: #cc9933;
  color: #fff;
  text-shadow: none; }
  .nav .current_page_item > a:hover {
    background-color: #c09030;
    color: #fff; }

#main {
  background-image: url(../img/cream_dust.png); }

.btn-primary,
.btn-group.open .dropdown-toggle {
  background-color: #cc3333;
  border-color: #cc3333; }
  .btn-primary:hover,
  .btn-group.open .dropdown-toggle:hover {
    background-color: #c03030;
    border-color: #c03030; }

.label-primary {
  background-color: #cc9933; }

#upcoming-event {
  background-image: url(../img/light_grey.png);
  	/*border-bottom: 1px solid #ddd;
  
  	.btn-primary {
  		background-color: $secondary;
  		border-color: $secondary;
  	}*/ }

footer {
  background-image: url(../img/congruent_outline.png);
  color: #ddd; }
  footer h4 {
    color: #cc9933; }
  footer ul {
    padding-left: 0;
    list-style: none; }
    footer ul li {
      border-bottom: 1px solid #555;
      padding: 10px 0; }
